
<%-include('partials/header')%>
    <h1>hello</h1>
    <%=homeStartingContent%>

    <% posts.forEach((post)=>{ %> 
        <h1><%=post.title%></h1>
        
    
        <% let postTrunc = post.content.substring(1, 100)+"...";  %> 
        <%=postTrunc%> <a href=<%="/posts/"+post.title.replace(" ","_")%>  >read more</a>
        
        
    <% }); %> 

       
    
<%-include('partials/footer')%>